* {
  box-sizing: border-box;
}
.image {
  width: 100%;
}
@media (min-width: 760px) {
  .image {
    width: 50%;
    margin-right: 5px;
  }
}
.back1 {
  background-color: #f7a27c;
}
.back2 {
  background-color: #fdda7b;
}
.back3 {
  background-color: #e9e6d9;
}
.back4 {
  background-color: #c9dbea;
}
